<div class="container">

    <!-- FORM TO CREATE companiesS -->
    <div id="companies-form" class="row" style="margin-top:4rem">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <!-- BIND THIS VALUE TO companiesData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter Companies Name" [(ngModel)]="companiesData.name"
                        required>
                </div>
                <!-- createcompanies() WILL CREATE NEW companiesS -->
                <button type="submit" class="btn btn-primary btn-lg" (click)="createCompany()">Add</button>
                <div class="text-center">
                    <h4> <span class="label label-danger">{{errorMassage}}</span></h4>
                </div>
            </form>
        </div>
    </div>

    <!-- companies LIST -->
    <div id="companies-list" class="row">
        <div class="col-sm-12" style="margin-top:4rem;">
             <h4> <span class="label label-info">{{companies.length}} Companies in List</span> </h4>
            <!-- LOOP OVER THE companies IN company -->
            <table style="width:100%;">
                <tr style="font-size: large;">
                    <th>Name</th>
                    <th>Address</th>
                    <th>Secondary Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Status</th>
                    <th>Locations</th>
                    <th style="text-align:center">Remove</th>
                </tr>
                <tr *ngFor="#company of companies" style="border-top: 1px solid;border-bottom: 1px solid;font-size: medium;">
                    <td>{{company.name}}</td>
                    <td>{{company.address}}</td>
                    <td>{{company.address2}}</td>
                    <td>{{company.city}}</td>
                    <td>{{company.state}}</td>
                    <td>{{company.zipcode}}</td>
                    <td>{{company.status}}</td>
                    <td style="cursor: pointer;color: blue;font-weight: bolder;" (click)="showLocations(company.locations,company.name)">Show</td>
                    <td style="text-align:center">
                        <span class="remove" (click)="deleteCompany(company._id)" style="cursor: pointer;color: red;font-weight: bolder;">
                        X
                    </span>
                    </td>
                </tr>
            </table>

        </div>
    </div>



     <!-- Location LIST -->
    <div id="location-list" class="row">
        <div class="col-sm-12" style="margin-top:4rem; margin-bottom:10rem;">
             <h4><span class="label label-info"> Ten Locations of Company Name :-  {{companyName}}</span> </h4>
            <!-- LOOP OVER THE location IN location -->
            <table style="width:100%;">
                <tr style="font-size: large;">
                    <th>Name</th>
                    <th>Address</th>
                    <th>Secondary Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="#location of locations" style="border-top: 1px solid;border-bottom: 1px solid;font-size: medium;">
                    <td>{{location.company}}</td>
                    <td>{{location.address}}</td>
                    <td>{{location.address2}}</td>
                    <td>{{location.city}}</td>
                    <td>{{location.state}}</td>
                    <td>{{location.zipcode}}</td>
                    <td>{{location.status}}</td>
                </tr>
            </table>

        </div>
    </div>

</div>